body {  
    background: #000000;  
    width:100%
}
h1
{  
    color: #ffffff;  
    text-align: center;
}/*center canvas*/
canvas {    
    margin: auto;     
    position: absolute; /* Абсолютное позиционирование */
    top: 50%; 
    left: 25%; /* Положение от правого края */
    line-height: 1px;

}

#header{
    color: red;
    font-size: 5em;
    text-align: center;
    margin-top: 100px;
    
}