body {
  width: 100%;
  margin: 0; }

h1 {
  color: #FFFFFF;
  text-align: center; }

/*center canvas*/
.main {
  position: absolute;
  right: 0;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: center;
  width: 200px;
  font-size: 0.9m; }

canvas {
  position: absolute;
  top: 120px;
  left: 25%;
  line-height: 1px; }

.headerDiv {
  vertical-align: middle;
  display: table-cell;
  padding-left: 50px; }

#header {
  display: table;
  position: relative;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #008594; }
  #header a {
    padding: 2px; }

.text {
  position: relative;
  top: -13%;
  color: #FFFFFF; }

.header-social {
  position: relative;
  height: 5em;
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

@media (max-width: 870px) {
  canvas {
    left: 20%; }
  .header-social {
    padding-right: 30px; } }

@media (max-width: 815px) {
  canvas {
    left: 10%; } }

@media (max-width: 730px) {
  canvas {
    left: 0; } }
