body {
  width: 100%;
  margin: 0; }

h1 {
  color: #FFFFFF;
  text-align: center; }

/*center canvas*/
canvas {
  position: absolute;
  top: 100px;
  left: 25%;
  line-height: 1px; }

.headerDiv {
  vertical-align: middle;
  display: table-cell;
  padding-left: 10px; }

#header {
  display: table;
  position: relative;
  top: 0;
  height: 100px;
  width: 100%;
  background-color: #008594; }

.header-social {
  text-align: center;
  display: table-cell;
  vertical-align: middle; }

@media (max-width: 870px) {
  canvas {
    left: 20%; } }

@media (max-width: 815px) {
  canvas {
    left: 10%; } }

@media (max-width: 730px) {
  canvas {
    left: 0; } }
