@import 'vars';

body {   
    width:100%;
    margin: 0;
}
h1
{  
    color: $text_color;  
    text-align: center;
}/*center canvas*/
canvas {      
    position: absolute;
    top: 50%; 
    left: 25%;
    line-height: 1px;

}

.headerDiv{
    vertical-align: middle;
    display: table-cell;
    padding-left: 10px;
}

#header{
    display: table;
    position: relative;
    top: 0;
    height: 100px;
    width: 100%;
    background-color: $header_color;
}

@media (max-width: 870px) {
    canvas {        
        left: 20%;
    }
}
@media (max-width: 815px) {
    canvas {        
        left: 10%;
    }
}
@media (max-width: 730px) {
    canvas {        
        left: 0;
    }
}